<section *ngIf="pokemon" [class]="'container-custom '+pokemon.types[0].type.name" (click)="onCardClick()">
  <div class="central-blend">
    <div class="custom">
      <img [src]="pokemonImage" [alt]="'Uma imagem do pokemon: '+pokemon.name">
    </div>
    <div class="custom-title">
      <h3>{{ pokemon.name }}</h3>
    </div>
    <ol class="types">
      <li *ngFor="let type of pokemon.types"
          [class]="'type '+type.type.name">{{ type.type.name }}
      </li>
    </ol>
  </div>
</section>

