<section class="blueColorConfig">
  <po-icon p-icon="ph-fill ph-totvs-logo"></po-icon>
  <h1>
    TOTVS
  </h1>
  <app-search-field (search)="onSearch($event)" ></app-search-field>
</section>
<section>
  <h3>SEUS POKEMONS</h3>
  <div *ngFor="let p of listOfSearch">
    <app-collapsable-card [pokemon]="p"></app-collapsable-card>
  </div>
  <div *ngIf="listOfSearch.length <= 0">
    <h4>Voce ainda não procurou por nenhum pokemon.</h4>
  </div>
  <app-error *ngIf="errorNotFound"></app-error>
</section>
