:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container {
  background: #ffffff;
  width: 60%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.2em;
  color: #ff0000;
}

.pokemon-details {
  text-align: center;
}

.pokemon-image {
  width: 150px;
  height: 150px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pokemon-type {
  border-radius: 4px;
  padding: 5px 10px;
}

.pokemon-stats {
  width: 100%;
  margin-top: 20px;
}

.stat-bar {
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

.stat-bar-fill {
  background-color: #4caf50;
  height: 1.4em;

  display: flex;
  padding-left: 2em;
  justify-content: flex-start;
  align-items: center;
}

.pokemon-abilities,
.pokemon-moves,
.pokemon-evolution,
.pokemon-additional-info {
  width: 100%;
  margin-top: 20px;
}

.pokemon-abilities ul,
.pokemon-moves ul {
  list-style-type: none;
  padding: 0;
}

ol{
  margin: 1em 2em;
  padding: 0em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.pokemon-abilities li,
.pokemon-moves li {
  margin-bottom: 10px;
}

.pokemon-evolution {
  display: flex;
  justify-content: space-around;
}

.evolution-stage {
  text-align: center;
}

.pokemon-weaknesses,
.pokemon-resistances {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pokemon-weakness,
.pokemon-resistance {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 5px 10px;
}
