<div class="container">
  <div class="modal-content">
    <p (click)="closeModal()" class="close-button">X</p>
    <div class="pokemon-details">
      <img [src]="pokemonImg" alt="Uma imagem do(a) {{pokemon?.name}}" class="pokemon-image">
      <div class="pokemon-sprite">
        <h2>{{ pokemon?.name }}</h2>
        <p># {{ pokemon?.id }}</p>
        <div class="pokemon-types"
             *ngFor="let type of pokemon?.types">
          <span class="pokemon-type {{type.type.name}}">{{ type.type.name }}</span>
        </div>
        <p>Height: {{ pokemon?.height }}</p>
        <p>Width: {{ pokemon?.weight }}</p>
      </div>
    </div>
    <div class="pokemon-stats">
      <h3>Status</h3>
      <div *ngFor="let stat of pokemon?.stats">
        <span>{{ stat.stat.name }}: </span>
        <div class="stat-bar">
          <div class="stat-bar-fill" [style.width.%]="stat.base_stat">
            <span>{{ stat.base_stat }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="pokemon-abilities">
      <h3>Abilities</h3>
      <ul>
        <li *ngFor="let abl of pokemon?.abilities">
          <h5>{{ abl.ability.name }}</h5>
        </li>
      </ul>
    </div>
    <div class="pokemon-moves">
      <h3>Notable Moves</h3>
      <ol>
        <li *ngFor="let move of pokemon?.moves">{{ move.move.name }}</li>
      </ol>
    </div>
  </div>
</div>
