.container-custom {
  padding: .5em;

  border-radius: 16px;
  text-transform: capitalize;
}

.container-custom:hover {
  box-shadow: 1em 1em 2em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.02);
}

.custom {
  display: flex;
  align-items: center;
}

.custom-title {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5em;
  margin: 1em 0;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.types {
  display: flex;
  flex-direction: column;
}

.type {
  color: white;
  padding: .25rem .5rem;
  margin: .25rem;
  font: bold .7em Arial, sans-serif;
  border-radius: 1rem;
  text-align: center;
  text-transform: capitalize;
}

img {
  margin: 0 auto;
  width: 8em;
  height: 8em;
}

.central-blend {
  background: #fff;
  margin: 1em;
  padding: 1em;
  border-radius: 12px;
  box-shadow: inset 1em 1em 2em 0 rgba(0, 0, 0, 0.2);
  height: 18em;
}
