*{
  display: flex;
  flex-direction: column;

  padding: 1em;
}

section{
  width: 100%;
  background-color: #fafafa;
}

.blueColorConfig{
  background-color: #2a64da;
}

.divPokemon{
  display: grid;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: baseline;
}

.cardPokemon{
  padding: 1em;
  margin: 1em 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  width: 5em;
}
