<section class="section-blue">
  <h1 class="custom-title">
    <img class="totvs-logo" src="assets/images/totvs_icon.svg" alt="TOTVS Logo">
    TOTVS
  </h1>
  <app-search-field (search)="onSearch($event)"></app-search-field>
</section>
<app-details-modal *ngIf="pokemon"
                   [pokemon]="pokemon"
                   (close)="pokemon = null"
></app-details-modal>
<section class="section-white">
  <div class="searched">
    <app-card *ngFor="let p of listOfSearch.slice().reverse()"
                          [pokemon]="p"
                          (openDetails)="openDetailsModal(p)"
    ></app-card>
  </div>
  <div *ngIf="listOfSearch.length <= 0" class="custom-unsearched">
    <img src="assets/images/no-results.jpg" class="search-img" alt="imagem de lupa">
    <h4>Você ainda não realizou nenhuma busca!</h4>
  </div>
</section>
<app-error *ngIf="errorNotFound" [seached]="searchedTerm"></app-error>

