* {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

app-search-field {
  padding-bottom: 4.8em;
  z-index: 1;
}

.section-white {
  background-color: #fafafa;
  /*padding: 50px 0;*/
}

.section-blue {
  background: linear-gradient(to left, #213DDE, #5279E7);
  position: relative;
  color: white;
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-blue::after {
  content: "";
  background-image: url("https://raw.githubusercontent.com/raunerlucas/desafio-frontend-totvs/c2c718e32692c950e05338e30f2707cd5ca47b82/src/assets/images/curva_divsoria.svg");
  background-repeat: repeat-x;
  position: absolute;
  width: 100%;
  height: 20em;

}

.custom-title {
  display: flex;
  flex-direction: initial;
  align-items: center;
  padding: 0;
  font-size: xxx-large;
}

.custom-unsearched {
  color: #bebdbd;
  background: #fafafa;
  align-items: center;
  text-align: center;
  font-size: 1.4em;
}

.searched {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1em;
  padding: 1em;
  border-radius: 16px;
}

.totvs-logo {
  filter: invert(1);
  width: 100%;
  max-width: 80px;
  padding: .2em;
}

.search-img {
  width: 100%;
  max-width: 250px;
}

/*#wave {*/
/*  position: relative;*/
/*  height: 19em;*/
/*}*/

/*#wave:before, #wave:after {*/
/*  content: "";*/
/*  display: block;*/
/*  position: absolute;*/
/*  height: 20%;*/
/*  background: #0059ff;*/
/*}*/

/*#wave:before {*/
/*  border-radius: 0 0 50% 100%;*/
/*  width: 50%;*/
/*  right: 0;*/
/*  top: 17em;*/
/*  box-shadow: 20px 10px 5px -5px rgba(0, 0, 0, 0.3);*/
/*}*/

/*#wave:after {*/
/*  border-radius: 0 0 100% 50%;*/
/*  width: 55%;*/
/*  left: 0;*/
/*  top: 17.1em;*/
/*  box-shadow: -20px 10px 5px -5px rgba(0, 0, 0, 0.3);*/
/*}*/


@media (max-width: 1800px) {
  .searched {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1600px) {
  .searched {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1200px) {
  .searched {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .searched {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .searched {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #wave:before, #wave:after {
    height: 18%;
  }

  .searched {
    grid-template-columns: repeat(1, 1fr);
  }
}
