*{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

section{
  width: 100%;
  background-color: #fafafa;

}

.blue-section{
  background-color: #2a64da;
}

.searched{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  padding: 1em;
  border-radius: 16px;
}

@media (max-width: 768px){
  .searched{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px){
  .searched{
    grid-template-columns: repeat(2, 1fr);
  }
}
